.item {
    margin: 0 0 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    width: 160px;
}
.item:hover {
    box-shadow: 0 0 1px 0 #ffffff;
}
.item_img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
    background: #1d1d1d;
    border: 0;
}
.item_person {
    font-weight: 700;
    margin: 10px 0;
}
.list .title,.list .info  {
    text-align: left;
}

ol{
    counter-reset: myCounter;
    width: 100%;
    padding: 0;
}

li{
    list-style: none;
    position: relative;
}

li:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: #999999;
    font-weight: 800;
    position: absolute;
    left: -35px;
    bottom: 25px;
    text-align: center;
    margin: 5px 10px;
    line-height: 40px;
    width: 31px;
    height: 30px;
    font-size: 13px;
}
.list .item{
    width: 100%;
}
.list .item_img{
    width: 60px;
    height: 60px;
}
.list .info {
    display: flex;
    align-items: center;
    width: 400px;
    position: relative;
}
.hits .info::after{
    content: '';
    width: 25px;
    height: 25px;
    background: url('fire.svg') no-repeat;
    background-size: 25px;
    position: absolute;
    margin: 5px 0 0px 30px;
}
.list .hits .info::after{
    left: 400px;
    margin: unset;
}
.list .item_person {
    margin: 0 10px;
}
.list .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 0;
}
.views{
    margin: 10px 0 0;
    position: relative;
    width: 60px;
}
.views::before{
    content: '';
    width: 25px;
    height: 25px;
    background: url('view.svg') no-repeat;
    background-size: 13px;
    position: absolute;
    left: 25px;
    bottom: -9px;
}
.list .views {
    margin: 0 10px;
    position: relative;
}
.list .views::before{
    content: '';
    width: 25px;
    height: 25px;
    background: url('view.svg') no-repeat;
    background-size: 16px;
    position: absolute;
    left: -28px;
    bottom: -7px;
}
.length {
    display: none;
}
@media (max-width: 620px) {
    .list .item_person {
        display: block;
    }
    .list .item_img{
        float: left;
        margin-right: 10px;
    }
    .list .info {
        display: block;
        width:250px;
        text-align: left;
        padding-right: 15px;
    }
    .list .item_img{
        width: 40px;
        height: 40px;
    }
    .info {
        font-size: 14px;

    }
    li::before{
        left: -35px;
        bottom: 20px;
    }
    .hits .info::after{
        content: '';
        width: 25px;
        height: 25px;
        background: url('fire.svg') no-repeat;
        background-size: 25px;
        display: inline-block;
        position: absolute;
        right: 0px;
        left: unset;
        bottom:10px;
    }
    .views::before{

    }
    .list .hits .info::after{
        left: unset;
    }
}
@media (max-width: 450px) {
    .item_img{
        height: 100px;
        width: 100px;
    }
    .item{
        width: 105px;
    }
    .views::before{
        display: none;
    }
    .info {

    }


}
@media (max-width: 390px) {
    .list .title{
        width: 180px;
    }
    .list .hits .info::after{

    }
    .list .item {
        height: 45px;
    }

}