.wrapper {
    border-bottom: 1px solid #707070;
}

.header {
    padding: 10px 15px 0;
    font-size: 40px;
    margin: 0;
    cursor: pointer;
    text-align: center;
}
.title {

}
.img {
    width: 200px;
}
