.btn_prev {
    background: url("next.svg") no-repeat;
    background-size: 30px;
    padding: 20px;
    transform: rotateZ(180deg);
    position: absolute;
    top: -30px;
    left: -7px;
    z-index: 10;
}

.btn_prev:hover {
    opacity: 0.6;
}

.text {
    white-space: pre-wrap;
    line-height: 25px;
}

.text span {
    background: #0a0a0a;
    color: #0a0a0a;
    padding: 2px;
    animation: overlay 1000ms ease infinite;
}

@keyframes overlay {
    0% {
        background: #0a0a0a;
        color: #0a0a0a;
    }
    50%{
        background: #161616;
        color: #161616;
    }
    100% {
        background: #0a0a0a;
        color: #0a0a0a;
    }
}

@keyframes text {
    0% {
        filter: blur(10px)
    }
    100% {
        filter: blur(4px)
    }
}

.header {
    width: 100%;
    height: 170px;
    position: relative;
    z-index: -1;
}

.img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.header_inner {
    width: 100%;
    height: 170px;
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0.1) 0%, rgb(34, 34, 34) 100%);
    position: absolute;
    top: 0;
}

.link {
    position: relative;
    top: -120px;
    padding: 20px 30px;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}

.person {
    color: #fbd661;
    font-size: 30px;
}

.title {
    font-size: 20px;
    margin: 10px 0;
}

.about {
    border-top: 1px solid #797979;
    border-bottom: 1px solid #797979;
    padding: 10px 0;
}

.url {
    cursor: pointer;
    color: #fbd661;
}

.url:hover {
    color: #b39946;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.credits {
    background: url("next.svg") no-repeat;
    background-position: right center;
    background-size: 12px;
    padding-right: 12px;
    font-weight: 300;
}
