.item {
    margin: 20px 0;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.item:hover {
    box-shadow: 0 0 15px 0 rgba(193, 82, 88,0.5);
}
.item_img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.item_person {
    font-weight: 700;
    margin: 10px 0;
}