.inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0 30px;
}
.title {
    text-align: center;
    font-size: 30px;
    margin: 30px 0 10px;
}
@media (min-width: 770px) {
    .title{
        display: none;
    }
}
