.content{
  position: relative;
}
.search {
    text-align: center;
    position: relative;
    top:40vh;
}
.search_active {
    text-align: center;
    position: relative;
    animation: search 800ms ease;
    animation-fill-mode: forwards;
    margin: 0 0 45px;
}
@keyframes search {
    0%{
        top:40vh;
    }
    100%{
        top:8vh;
    }
}
.search_input {
    max-width: 350px;
    width: 70%;
    border-radius: 10px;
    outline: none;
    padding: 10px 20px;
    border: 2px solid #797979;
    background-color: #222222;
    color: #d4d4d4;
    font-size: 20px;
}
.search_btn {
    border: 2px solid #797979;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: #d4d4d4;
    display: none;
}
.inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 65px 0 45px;
}

@media (min-width: 770px) {
    .search_input{
        margin-bottom: 40px;
    }
}
