colors {
  color: #000000;
  color: #ffffff;
  color: #c9b480;
  color: #fbd661;
}
body {
  background: #222222;
  color: #d4d4d4;
  font-family: Roboto, sans-serif;
}
.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 1.5em;
}
button {
  background: none;
  outline: none;
  border: none;
  color: #ffffff;;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
button:hover {
  color: #fbd661;
}
a {
  text-decoration: none;
}
a:active, a:hover { outline: none; }

@media (min-width: 770px) {
  Footer{
    display: none;
  }
  Menu{
    display: block;
  }
}
@media (max-width: 770px) {
  Footer{
    display: block;
  }
  Menu{
    display: none;
  }
}