colors {
  color: #000000;
  color: #ffffff;
  color: #c9b480;
  color: #fbd661;
}
body {
  background: #222222;
  color: #d4d4d4;
  font-family: Roboto, sans-serif;
  padding-right: 20px;
  overflow-x: hidden;
}
.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 2.5em;
}
button {
  background: none;
  outline: none;
  border: none;
  color: #ffffff;;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
button:hover {
  color: #fbd661;
}
a {
  text-decoration: none;
}
a:active, a:hover { outline: none; }

@media (min-width: 770px) {
  Footer{
    display: none;
  }
  Menu{
    display: block;
  }

}
@media (max-width: 770px) {
  Footer{
    display: block;
  }
  Menu{
    display: none;
  }
  .container {
    padding: 30px 2.5em 25px;
  }
}

@media (max-width: 420px) {
  .container {
    padding: 30px 1.5em;
  }
}

.modal {
  height: 100vh;
  width: 100%;
  background-color: #222222;
  position: fixed;
  top: 0;
  right: -100vw;
  z-index: 1000;
  font-size: 15px;
  transition: 500ms;
  overflow: auto;
}
.modal1 {
  width: 100%;
  background-color: #222222;
  position: fixed;
  bottom: -95px;
  top: 0;
  right: -100vw;
  z-index: 1000;
  font-size: 15px;
  transition: 500ms;
  overflow: auto;
  animation: appear 500ms linear;
  padding-right: 20px;
  margin-right: -20px;
}

.active1 {
  animation: appear 500ms linear;
  animation-direction: reverse;
}
.active {
  right: 0px;
  transition:500ms;
}

@keyframes appear {
  0% {
    right: -100vw;
  }
  100%{
    right: 0px;
  }
}