colors {
  color: #9ca6dd;
  color: #c15258;
  color: #d6bbe3;
  color: #484569;
  color: #7c93cf;
}
body {
  background: rgba(156, 166, 221,0.3);
  color: #484569;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  overflow-x: hidden;
}
button {
  background: none;
  outline: none;
  border: none;
  color: #484569;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
button:hover {
  color: #c15258;
}
a {
  text-decoration: none;
}
a:active, a:hover { outline: none; }
