.menu {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.wrapper {
    background: rgba(193, 82, 88,0.4);
}
.wrapper:hover {
    background: #9ca6dd;
}
.menu_link {
    margin: 10px 20px;
    color: #484569;
    font-weight: 500;
}
.menu_link:hover {
    color:#c15258;
}

